$fontHeader: "Montserrat";
$fontBody: "roboto";
$white: #ffffff;
$nyeupe: white;
$black: black;
$lightblue: #007aff;
$lightkahawa: #ffd79d;
$kahawa: #a35f2e;
$gray: gray;
$gold: #f1916d;
$green: green;
$ugoro: #800080;
$primaryBackground: #14805e;
$boxShadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
$boxShadowAnswers: 0 0.4rem 1.4rem 0 rgba(252, 181, 116, 0.5);
$boxShadowRealBox: rgba(6, 24, 44, 0.4) 0rem 0rem 0rem 0.2rem,
  rgba(44, 36, 6, 0.65) 0rem 0.4rem 0.6rem -0.1rem,
  rgba(255, 255, 255, 0.08) 0rem 0.1rem 0rem inset;
$boxShadowRealBoxHover: rgba(16, 114, 243, 0.4) 0rem 0rem 0rem 0.2rem,
  rgba(118, 209, 115, 0.65) 0rem 0.4rem 0.6rem -0.1rem,
  rgba(236, 203, 19, 0.897) 0rem 0.1rem 0rem inset;
$mainBackGround: #f4f4f4;
$backGround: #fffcec;
$red: red;
$captionBackground: hsl(0, 0%, 97%);
$answerBackground: #eee;
$shadowBox: 0.1rem 0.1rem 2.5rem #000000;

$cardColor1: #ffb200;
$cardColor2: #ff9700;
$cardColor3: #96c110;
$cardColor4: #80ad0a;
$cardColor5: #64b2f2;
$cardColor6: #489ed9;
$cardColor7: #c873df;
$cardColor8: #af33d1;
